@*@page*@

@model FrontEnd.Models.EmpleadoViewModel

@{
    ViewData["Title"] = "Perfil de Empleado";
            Layout = "~/Views/Shared/_Internal_Layout.cshtml";

}
<div class="container" align="center">
    <h1>@ViewData["Title"]</h1>

<partial name="_Details" model="Model" />

<div>
@*    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
*@    @*<a asp-action="Index">Regresar</a>*@

</div></div>